.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_button {
  background: none;
  border: none;
  color: var(--text-grey-color);
  border: 1px solid var(--input-bg-dark-color);
  background-color: var(--white-color);
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 16px;
}

.card_button:disabled {
  cursor: default;
  background-color: var(--input-bg-dark-color);
}

.count {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 700;
  margin: 0 20px;
}
